@model MadeByMe.src.DTOs.LoginDto

@{
    ViewData["Title"] = "Вхід";
}

<h2>Вхід</h2>

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger" />
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-success">Увійти</button>
    @* <a asp-controller="Post" asp-action="Index" class="btn btn-success">Увійти</a> *@
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}