<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MadeByMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>
<body>
    <header class="p-3 bg-light border-bottom">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">MadeByMe</a>

            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Account" asp-action="Profile" class="btn btn-outline-primary me-2">Профіль</a>
                    <a asp-controller="Cart" asp-action="Index" class="btn btn-outline-primary me-2">Кошик</a>

                    @if (!User.IsInRole("Seller"))
                    {
                        <form asp-controller="Account" asp-action="BecomeSeller" method="post" class="d-inline">
                            <button type="submit" class="btn btn-warning me-2">Стати продавцем</button>
                        </form>
                    }
                   
                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Вийти</button>
                    </form>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-success me-2">Увійти</a>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-outline-secondary">Зареєструватися</a>
                }
            </div>
        </div>
    </header>
    <p>IsAuthenticated: @User.Identity.IsAuthenticated</p>
    <p>UserName: @User.Identity.Name</p>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <p>Роль: Admin</p>
        }
        else if (User.IsInRole("Seller"))
        {
            <p>Роль: Seller</p>
        }
        else
        {
            <p>Роль: Покупець</p>
        }
    }
    else
    {
        <p>Неавторизований користувач</p>
    }


    <main class="container my-4">
        @RenderBody()
    </main>

    <footer class="bg-light text-center py-3 border-top">
        MadeByMe 1.0 © 2025
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
