<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/eeeec0d5-8cb3-4aed-a009-7b61759d3e3d/resourceGroups/MadeByMe20250519232708ResourceGroup/providers/Microsoft.Web/sites/MadeByMe20250520012037</ResourceId>
    <ResourceGroup>MadeByMe20250519232708ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://madebyme20250520012037.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>4bb1892c-7022-4368-952a-c0a92a914ca0</ProjectGuid>
    <PublishUrl>https://madebyme20250520012037.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MadeByMe20250520012037</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>