@{
    ViewData["Title"] = "Головна сторінка";
}

<h1>Ласкаво просимо до нашого магазину!</h1>
<p>Тут ви знайдете найкращі товари, зроблені власноруч.</p>

<a asp-controller="Post" asp-action="Index" class="btn btn-primary">Переглянути товари</a>